@import url("https://fonts.googleapis.com/css2?family=Andika&family=Inter:wght@400;600;700;800&family=Noto+Sans+NKo+Unjoined:wght@500&family=Trispace:wght@200;400&display=swap");

/* UNIVERSAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-secondary);
}

/* COLOR PALETTE */

:root {
  --color-primary: #251d6e;
  --color-secondary: #fff;
  --color-accent: #c45959;
  --color-dark: #0b0c14;
  --color-bold: #040208;
  --color-shade: #eeeff128;
  --color-grey: #aaa;
  --color-dark-grey: #070707;
  --color-shadow: #04045a;
  --color-gradient: #0000001a;
  --color-dark-gradient: #0000008c;
}

/* TYPOGRAPHY */

html {
  font-size: 62.5%;
}

h2,
span,
input {
  font-family: "Trispace", sans-serif;
}

h1,
.headline,
.tagline,
h3,
h4 {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
}

h1,
h2,
h3 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
}

.headline {
  font-size: 7rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

.tagline {
  font-size: 4rem;
  color: var(--color-grey);
  margin-bottom: 7rem;
  font-weight: 600;
}

h2 {
  font-size: 5rem;
  font-weight: 200;
  margin-bottom: 10rem;
  text-align: center;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

p,
a,
li,
label {
  font-size: 1.8rem;
}

p,
a,
li,
label {
  font-family: "Inter", sans-serif;
}

p:not(.headline, .tagline, .p--lg) {
  font-family: "Andika", sans-serif;
  margin-bottom: 1.5rem;
}

p:not(.headline) {
  color: var(--color-grey);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover {
  color: var(--color-grey);
}

span {
  font-size: 1.6rem;
}

.p--lg {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 5rem;
  }

  .headline {
    font-size: 5.5rem;
  }

  .tagline {
    font-size: 3.7rem;
  }
}

@media screen and (max-width: 1024px) {
  * {
    text-align: center;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  .headline {
    font-size: 4.5rem;
  }

  .tagline {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.3rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 3rem;
  }

  p,
  a,
  li {
    font-size: 1.6rem;
  }

  .headline {
    font-size: 3rem;
  }

  .tagline {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }

  .headline {
    font-size: 3.5rem;
  }

  .tagline {
    font-size: 1.9rem;
  }
}

/* BLOCK */

.block {
  padding: 7rem 2rem;
}

.block.hero {
  padding: 14rem 2rem;
}

.block--dark {
  background-color: var(--color-dark);
}

.block--dark,
.block--bold {
  color: var(--color-secondary);
}

.block--bold {
  background-color: var(--color-bold);
}

.container--sm {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .block {
    text-align: center;
    padding: 4rem 2rem;
  }
}

/* BOX */

.box {
  max-width: 500px;
  width: 100%;
  border: 1px solid var(--color-shade);
  border-radius: 20px;
  text-align: center;
  padding: 2rem;
}

.box--bold {
  background-color: var(--color-bold);
}

/* BUTTONS */

.btn {
  border: 0;
  outline: 0;
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--color-secondary);
  border-radius: 7px;
  font-size: 1.6rem;
  font-family: "Noto Sans NKo Unjoined", sans-serif;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn.active {
  background-color: var(--color-accent);
}

.btn:hover .icon--arrow-right {
  margin-left: 1rem;
}

.btn--input {
  padding: 1rem 2rem;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--accent {
  background-color: var(--color-accent);
}

.btn--outline {
  border: 1px solid var(--color-secondary);
  background: none;
}

.btn--outline:hover {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

.btn--scale {
  width: 100%;
}

.btn--circle {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }

  .btn--scale {
    padding: 1.3rem;
  }
}

/* INPUT */

.input {
  border: 0;
  outline: 0;
  padding: 1.5rem;
  border-radius: 50px;
  width: 100%;
}

.input--outline {
  border: 1px solid var(--color-shade);
  background: none;
  color: var(--color-secondary);
}

.input__container {
  margin-top: 2rem;
}

.input__container .input {
  margin-top: 1rem;
}

.input__container p {
  margin: 0;
}

.input__holder {
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid var(--color-shade);
  padding-right: 1.5rem;
  width: 100%;
  max-width: 250px;
}

.input__holder .input {
  border: 0;
}

.input--300 {
  width: 100%;
  max-width: 300px;
}

.input--primary::placeholder {
  color: var(--color-shade);
}

.input--outline::placeholder {
  color: #aaa;
}

/* IMAGES */

.img {
  width: 100%;
  object-fit: cover;
}

.img--circle {
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}

.img--250 {
  max-width: 250px;
}

.img--350 {
  max-width: 350px;
}

.img--500 {
  max-width: 500px;
}

/* ICONS */

.icon {
  cursor: pointer;
  transition: 0.3s ease;
}

.icon--close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon--close:hover {
  fill: var(--color-dark);
}

.icon--arrow-right {
  margin-left: 0.5rem;
}

.icon--delete {
  fill: var(--color-accent);
}

/* FLEX */

.flex {
  display: flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--column {
  flex-direction: column;
}

.justify--center {
  justify-content: center;
}

.justify--around {
  justify-content: space-around;
}

.justify--between {
  justify-content: space-between;
}

.align--center {
  align-items: center;
}

/* GRID */

.grid {
  display: grid;
}

.grid--center {
  justify-items: center;
}

.gap--sm {
  gap: 2rem;
}

.gap {
  gap: 3rem;
}

.gap--lg {
  gap: 5rem;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* NAVBAR */

.nav__bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 3rem;
  z-index: 999;
  transition: 0.3s ease;
}

.nav__bar.active {
  background-color: var(--color-dark);
}

.hamburger__menu {
  cursor: pointer;
  padding: 0.5rem;
  display: none;
  z-index: 999;
}

.hamburger__bar {
  width: 20px;
  height: 2px;
  background-color: var(--color-secondary);
  display: block;
  margin: 0.5rem 0;
}

.nav__sidebar {
  display: none;
}

.nav__close {
  display: none;
}

@media screen and (max-width: 1024px) {
  .icon--cart__container:not(.nav__sidebar .icon--cart__container) {
    display: none;
  }

  .icon--cart__container {
    display: inline-block;
    margin-bottom: 3rem;
  }

  .icon--cart__container svg {
    fill: var(--color-dark);
  }

  .nav__lists {
    display: none;
  }

  .link--sign-in {
    display: none;
  }

  .nav__container:nth-child(2) {
    order: -1;
  }

  .nav__sidebar {
    display: block;
    opacity: 0;
    position: fixed;
    top: 20px;
    right: -150%;
    padding: 2rem 0;
    height: 95vh;
    transition: 0.5s ease top;
    z-index: 998;
  }

  .nav__sidebar.active {
    opacity: 1;
    top: 40px;
    right: 0;
  }

  .nav__sidebar.active .sidebar__container {
    width: 350px;
    height: 100%;
  }

  .nav__close {
    display: block;
    animation: navMenu 0.6s ease;
  }

  .sidebar__container {
    background-color: var(--color-secondary);
    padding: 3rem;
    border-radius: 7px 0 0 7px;
    width: 330px;
    height: 98%;
    transition: 0.5s ease;
    overflow: auto;
  }

  .nav__sidebar li {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--color-dark);
    padding: 1rem;
  }

  .nav__sidebar a {
    color: var(--color-dark);
    font-size: 2.5rem;
  }

  .hamburger__menu {
    display: block;
    animation: navMenu 0.6s ease;
  }
}

@media screen and (max-width: 500px) {
  .nav__bar {
    padding: 1rem;
  }

  .nav__sidebar.active {
    left: 20px;
    right: 20px;
    text-align: center;
  }

  .nav__sidebar.active .sidebar__container {
    width: 100%;
    border-radius: 7px;
  }
}

@keyframes navMenu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* HEADER */

.header {
  position: relative;
  height: 100vh;
}

.header * {
  text-shadow: 0 0 20px var(--color-dark);
}

.header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* HERO */

.header--dark {
  background: linear-gradient(
    to bottom,
    var(--color-gradient),
    var(--color-dark)
  );
}

/* QUALITIES */

.qualities {
  background: linear-gradient(
      to bottom,
      var(--color-gradient),
      var(--color-dark)
    ),
    linear-gradient(to top, var(--color-gradient), var(--color-dark)),
    url("https://t4.ftcdn.net/jpg/03/70/51/21/360_F_370512116_w1e0DQGejXyddtvh876huEpyVuSlOCzA.jpg");
}

.qualities .feature__container {
  border: 0;
}

/* FEATURES */

.feature__container {
  border: 1px solid var(--color-shade);
  border-radius: 20px;
  overflow: hidden;
  padding: 5rem;
  margin: 5rem 0;
  background-color: var(--color-dark-grey);
}

.feature__description {
  border-radius: 20px;
  padding: 5rem;
}

.feature__container:nth-child(odd) .feature__description {
  order: 1;
}

@media screen and (min-width: 1024px) {
  .feature__image {
    max-width: 500px;
    max-height: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .feature__container {
    gap: 5rem;
    padding: 0;
  }

  .feature__description {
    padding: 2rem;
  }

  .feature__description {
    order: 1;
  }
}

/* FACTS */

.facts h3 {
  font-size: 2.5rem;
}

.facts img,
.theory img {
  margin-bottom: 2rem;
}

.theory img {
  height: 150px;
}

/* MENU */

.menu__container {
  position: relative;
}

.menu__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-dark-gradient);
  opacity: 0;
  transition: 0.3s ease;
}

.menu__overlay:hover {
  opacity: 1;
}

/* STORE */

.story__container {
  border: 1px solid var(--color-shade);
  border-radius: 20px;
  padding: 2rem;
  background-color: var(--color-bold);
  max-width: 750px;
  margin: 0 auto;
}

/* STORE */

.selection {
  border: 1px solid var(--color-shade);
  border-radius: 50px;
  padding: 1rem 3rem;
}

.selection__name {
  margin-top: 0.5rem;
}

.store__header {
  height: 100vh;
}

.store__section {
  margin-top: 5rem;
}

.store__card {
  max-width: 500px;
  border: 1px solid var(--color-shade);
  border-radius: 20px;
  overflow: hidden;
}

.store__description {
  background-color: var(--color-bold);
  padding: 2rem;
}

.store__container {
  margin-bottom: 2rem;
}

.search__container {
  margin: 5rem 0;
}

.search__container h2 {
  margin: 0;
}

/* FORM */

.form {
  position: relative;
}

.form img {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.form__container {
  max-width: 500px;
  margin: 5rem auto;
  border: 1px solid var(--color-shade);
  border-radius: 20px;
  padding: 3rem;
  background-color: var(--color-bold);
}

/* STATISTICS */

.statistics {
  text-align: center;
  padding-top: 12rem;
}

.statistics h2 {
  margin-bottom: 1.5rem;
}

.table__container,
.statistics__container {
  margin: 3rem 0;
}

.table__container {
  overflow: auto;
}

table {
  border-radius: 1px;
  overflow: hidden;
}

table,
th,
td {
  border: 1px solid var(--color-shade);
  border-collapse: collapse;
  padding: 1rem 2rem;
}

th,
td {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
}

th {
  font-size: 2rem;
}

td {
  font-size: 1.8rem;
}

/* TERMS */

.terms {
  border: 1px solid var(--color-shade);
  max-width: 1000px;
  margin: 5rem auto;
  padding: 3rem;
  border-radius: 20px;
  background-color: var(--color-bold);
}

/* FOOTER */

footer a {
  color: var(--color-grey);
  font-family: "Trispace", sans-serif;
  font-size: 1.6rem;
}

footer a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

footer li {
  margin-bottom: 0.7rem;
}

.footer__container {
  margin-bottom: 5rem;
}

.sub__footer {
  background-color: var(--color-primary);
  padding: 0.5rem;
}

.sub__footer p {
  color: var(--color-secondary);
  margin: 0;
}

/* ERROR */

.error {
  background: url("https://images.unsplash.com/photo-1643330683233-ff2ac89b002c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHBsYW5ldHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  color: var(--color-secondary);
  text-shadow: 0 0 20px var(--color-shadow);
}

.error .headline {
  margin-bottom: 3rem;
}

.error p {
  margin-bottom: 7rem;
}
